
.DS_Store
.sass-cache/
.tmp/
bower_components/
dist/
node_modules/
npm-debug.log*
target

# Editor directories and files
*.iml
.idea
.classpath
.project
.settings
.vscode

# Project directories and path
src/main/resources/application.properties
src/main/resources/static/css
src/main/resources/static/js